html{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Sintony' sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #F5F5FF;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}
  /* Navigation bar */
.nav{
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* align-items: center; */
    background-color: #FFFFFF;
}
.nav-content{
    display: flex;
    /* align-items: center; */
    justify-content:space-evenly;
    width: 100px;
    height: 100%;
    /* background-color: coral; */
}
.nav-container{
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    /* justify-content: space-around; */
    /* align-items: flex-start; */
}
.nav-btn-container{
    display: flex;
    height: 70%;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 15px;
}

 /* Entire page */
.page-container{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    height: 100vh;
    width: 100%;
    /* border-radius: 15%; */
    position: relative;
    /* padding: 0px; */
    margin-left: 7%;
}

 /* Header*/
.header-container{
    display: flex;
    width: 81%;
    /* height: 10%; */
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 15px;
}
.search-container{
    width: 50%;
    display: flex;
    align-self: center;
}
.searchTerm{
    border-radius:25px;
    width: 60%;
    padding: 10px 55px;
    border: none;
}

.addtocart{
    display: flex;
    width: 10%;
    align-self: center;
    font-family: 'Ubuntu', sans-serif;
    text-decoration:double;
    
}
#addtocart{
    border-radius: 25px;
    width: 100%;
    padding: 8px 6px;
    display: flex;
    border: none;
    background: #ffff;
    font-size: 15px;
    cursor: pointer;
}




 /*About us text content */
.introduction-container{
    display: flex;
    width: 81%;
    /* height: 20%; */
    border-radius: 25px;
    padding: 20px;
    /* background: rgb(255,255,255); */
    background: linear-gradient(90deg, rgba(255,255,255,1) 40%, rgba(255,215,223,1) 56%);
    justify-content: space-between;
}

.introduction-text{
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    margin: 10px;  
    /*check if there's a better way than using "margin" here */
}
.text-content{
    font-family: 'Oswald', sans-serif;
    font-size: 45px;
    /* margin: 2px 0px; */
    margin-bottom: -5px;
}
.text-content-paragraph{
    font-size: 26px;
    margin-top: auto;
    margin: 10px 0px;
    font-family: 'Ubuntu Mono', monospace;
}
.introduction-image{
    /* align-self: flex-end; */
    /* margin-top: -19px; */
    /* margin-left: 330px; */
}

   
 /*Favourite */
.favourite-container{
    /* display: flex; */
    /* margin: 10px; */
    width: 64%;
    margin-bottom: 15px;
}

.favourite-container-heading{
    font-family: 'Signika', sans-serif;
    font-size: 24px;
}
.favourite-container-content{
    display: flex;
    justify-content: space-between;
}
.favourite-button{
    display: flex;
    flex-direction: column;
}

/************ Recipes Section*************/

.recipes-container{
    display:flex;
    width: 81%;
    /* height: 20%; */
    margin-top: 90px;
    justify-content: space-between;
}
.square-one{
    display: flex;
    position: relative;
    width: 200px;
    height: 170px;
    background-color: #FFFFFF;
    border-radius: 20px;
    justify-content: center;
}
.circle{
    position:absolute;
    border-radius: 50%;
    width:150px;
    height:150px;
    background-image: url(https://cdn.pixabay.com/photo/2021/01/06/10/11/burger-5893927_960_720.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    top: 10%;
    left:50%;
    right: 50%;
    transform: translate(-50%, -50%);

}
.square-text{
    font-size: 16px;
    margin-bottom: 1px;
}
.square-two{
    display: flex;
    position: relative;
    width: 200px;
    height: 170px;
    background-color: #FFDDDC;
    border-radius: 20px;
    justify-content: center;
}
.circle-two{
    position:absolute;
    border-radius: 50%;
    top: 5%;
    width:150px;
    height:150px;
    background-image: url(https://cdn.pixabay.com/photo/2016/08/05/23/17/pizza-1573562_960_720.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    left:50%;
    right: 50%;
    transform: translate(-50%, -50%);
}
.square-three{
    display: flex;
    position: relative;
    width: 200px;
    height: 170px;
    background-color: #FFFFFF;
    border-radius: 20px;
    justify-content: center;
}
.circle-three{
    position:absolute;
    border-radius: 50%;
    width:150px;
    height:150px;
    background-image: url(https://cdn.pixabay.com/photo/2019/08/26/22/02/steak-4432943_960_720.jpg);
    /* background-repeat: no-repeat; */
    background-size: contain;
    top: 5%;
    left:50%;
    right: 50%;
    transform: translate(-50%, -50%);
}
.square-four{
    display: flex;
    position: relative;
    width: 200px;
    height: 170px;
    background-color: #FFDDDC;
    border-radius: 20px;
    justify-content: center;
}
.circle-four{
    position:absolute;
    border-radius: 50%;
    top: 5%;
    width:150px;
    height:150px;
    background-image: url(https://cdn.pixabay.com/photo/2020/08/05/09/01/hamburger-5464867_960_720.jpg);
    /* background-repeat: no-repeat; */
    background-size: contain;
    left:50%;
    right: 50%;
    transform: translate(-50%, -50%);
}
.square-five{
    display: flex;
    position: relative;
    width: 200px;
    height: 170px;
    background-color: #FFFF;
    border-radius: 20px;
    justify-content: center;
}
.circle-five{
    position:absolute;
    border-radius: 50%;
    top: 5%;
    width:150px;
    height:150px;
    background-image: url(https://cdn.pixabay.com/photo/2020/05/17/04/22/pizza-5179939_960_720.jpg);
    /* background-repeat: no-repeat; */
    background-size: contain;
    left:50%;
    right: 50%;
    transform: translate(-50%, -50%);
}
.square-six{
    display: flex;
    position: relative;
    width: 200px;
    height: 170px;
    background-color: #FFDDDC;
    border-radius: 20px;
    justify-content: center;
}
.circle-six{
    position:absolute;
    border-radius: 50%;
    top: 5%;
    width:150px;
    height:150px;
    background-image: url(https://cdn.pixabay.com/photo/2021/07/29/18/07/burger-6507710_960_720.jpg);
    /* background-repeat: no-repeat; */
    background-size: contain;
    left:50%;
    right: 50%;
    transform: translate(-50%, -50%);
}
.square-seven {
    display: flex;
    position: relative;
    width: 200px;
    height: 170px;
    background-color: #FFFFFF;
    border-radius: 20px;
    justify-content: center;
}
.circle-seven {
    position:absolute;
    border-radius: 50%;
    top: 5%;
    width:150px;
    height:150px;
    background-image: url(https://cdn.pixabay.com/photo/2020/08/05/09/01/hamburger-5464867_960_720.jpg);
    /* background-repeat: no-repeat; */
    background-size: contain;
    left:50%;
    right: 50%;
    transform: translate(-50%, -50%);
}
.circle-text{
    display:flex;
    width: 140px;
    align-items: center;
    justify-content: flex-end;
    font-size:10px;
    flex-direction: column;
    text-align: center;
}
/***************** Resturant Reviews ********************/

.resturant-container{
    width: 89%;
    /* height: 21%; */
    overflow-x: scroll;
    display: flex;
    justify-content: space-evenly;
    margin-top: -3%;
    /* flex-wrap: wrap; */
}
.resturant-container-text {
    width:60%;
    font-family: 'Oswald', sans-serif;
    text-align: left;
}
.shape-text-container{
    width: 200px;
    /* font-size: 5px; */
    margin-left:100px;
    height: 60px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}
.rectangle-one{
    display: flex;
    height: 80px;
    width: 250px;
    background-color: #FFFFFF;
    margin-top: 70px;
    border-radius: 10px;
    position: relative;
    /* justify-content: center; */
    /* align-items: center; */
}
.shape-one{
    height: 70px;
    position:absolute;
    width: 90px;
    /* background-size: contain; */
    background-repeat: no-repeat;
    transform: rotate(90deg);
    border-radius: 10px;
    top: -11%;
    left: -1%;
    right:1%;
}

.rectangle-two{
    height: 80px;
    width: 250px;
    background-color: #FFFFFF;
    margin-top: 70px;
    border-radius: 10px;
    position: relative;
}
.shape-two{
    height: 70px;
    position:absolute;
    width: 90px;
    background-image: url(https://cdn.pixabay.com/photo/2017/04/20/06/22/food-2244724_960_720.jpg);
    /* background-size: contain; */
    background-repeat: no-repeat;
    transform: rotate(90deg);
    border-radius: 10px;
    top: -11%;
    left: -1%;
    right:1%;
}
.rectangle-three{
    height: 80px;
    width: 250px;
    background-color: #FFFFFF;
    margin-top: 70px;
    border-radius: 10px;
    position: relative;
}
.shape-three{
    height: 70px;
    position:absolute;
    width: 90px;
    background-image: url(https://cdn.pixabay.com/photo/2017/04/20/06/22/food-2244724_960_720.jpg);
    /* background-size: contain; */
    background-repeat: no-repeat;
    transform: rotate(90deg);
    border-radius: 10px;
    top: -11%;
    left: -1%;
    right:1%;
}
.rectangle-four{
    height: 80px;
    width: 250px;
    background-color: #FFFFFF;
    margin-top: 70px;
    border-radius: 10px;
    position: relative;
}
.shape-four{
    height: 70px;
    position:absolute;
    width: 90px;
    background-image: url(https://cdn.pixabay.com/photo/2017/04/20/06/22/food-2244724_960_720.jpg);
    /* background-size: contain; */
    background-repeat: no-repeat;
    transform: rotate(90deg);
    border-radius: 10px;
    top: -11%;
    left: -1%;
    right:1%;
}
.rectangle-five{
    height: 80px;
    width: 250px;
    background-color: #FFFFFF;
    margin-top: 70px;
    border-radius: 10px;
    position: relative;
}
.shape-five{
    height: 70px;
    position:absolute;
    width: 90px;
    background-image: url(https://cdn.pixabay.com/photo/2017/04/20/06/22/food-2244724_960_720.jpg);
    /* background-size: contain; */
    background-repeat: no-repeat;
    transform: rotate(90deg);
    border-radius: 10px;
    top: -11%;
    left: -1%;
    right:1%;
}
.rectangle-six{
    height: 80px;
    width: 250px;
    background-color: #FFFFFF;
    margin-top: 70px;
    border-radius: 10px;
    position: relative;
}
.shape-six{
    height: 70px;
    position:absolute;
    width: 90px;
    background-image: url(https://cdn.pixabay.com/photo/2017/04/20/06/22/food-2244724_960_720.jpg);
    /* background-size: contain; */
    background-repeat: no-repeat;
    transform: rotate(90deg);
    border-radius: 10px;
    top: -11%;
    left: -1%;
    right:1%;
}



.rectangle-text-title{
    font-size: 13px;
}
.rectangle-star{
    margin-top: -7px;
    color: grey;
}
.rectangle-paragraph{
    font-size: 11px;
    margin-top: -8px;
    color: grey;
}

/* Add items to cart (hidden only on click ) */

#sideBar{
     /* display: flex; */
     /* flex-direction: column-reverse; */
     /* align-items:flex-start; */
     height: 100%;
     width: 14.5%;
     background-color: #FFFFFF;
     /* justify-content: center; */
     position: absolute;
     right: 0;
}
/*Items in the cart*/

.sidebar-container{
    display: flex;
    width: 97%;
    flex-direction: column;
    margin-top: 40px;
    position: relative;
    height: 95%;
    /* margin-left: 17px; */
    padding-left: 30px;
}
.sidebar-container-image{
    display: flex;
    /* margin-left: 20px; */
    width: 90%;
    /* background-color: bisque; */
}
.sidebar-header{
    font-family: 'Inter', sans-serif;
    font-size: 11.7px;
    /* margin-left: 20px; */
    margin-bottom: 35px;
    width: 90%;
    display: flex;
    justify-content: flex-start;
}
.sidebar-image{
    display: flex;
}
 .sidebar-image-text{
    display: flex;
}

.sidebar-container-contents{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin-top: 15px; */
    /* margin-left: 20px; */
    width: 96%;
    margin-bottom: 40px;
    align-items: center;
}
.sidebar-btn{
    display: flex;
    flex: 1;
}
.sidebar-productname{
    display: flex;
    flex-direction: column;
    color: #B9BABE;
    font-size: 13px;
    /* margin-top: 15PX; */
    flex: 1.2;
}
.sidebar-quantity{
    display: flex;
    /* margin-right: 50px; */
    flex: 1;
    
}
#quantityId{
   
}
.sidebar-remove{
    display: flex;
    /* margin-right:36px; */
    flex: 1;
}

/*Paymant Section*/
.sidebar-payment{
    display: flex;
    /* background-color : #FF6380; */
    width: 90%;
    height: 75px;
    /* margin-top: 80%; */
    /* margin-left: 17px; */
    border-radius: 5px;
    position: absolute;
    bottom: 89px;
}
.sidebar-payment-content{
    width: 74%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ff6380;
    padding: 10px;
    border-radius: 8px;
}
.btn3{
    width: 100px;
    line-height: 19px;
    padding: 7px 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FEB0BD;
    border-radius: 8px;
    color: #ffff;
    border: none;
    margin-right: 7.5px;
    /* position: absolute; */
}

.payment-text{
    width: 37%;
    font-size: 26px;
    color: #ffff;
    margin-left: 7.5px;
}





























/*Button colors   */

.btncolor1{
    background-color:#FB9468;
    color:  #FFFF;
}
.btncolor2{
    background-color: #2EBAF1;
    color:  #FFFF;
}
.btncolor3{
    background-color: #C344D3;
    color: #FFFF;
}
.btncolor4{
    background-color: #2BA460;
    color:  #FFFF;
}
.btncolor5{
    background-color: #1074C1;
    color: #FFFF;
    
}
.btncolor6{
    background-color: #3B3B39;
    color: #FFFF;
}
.btnFont{
    font-size: 22px;
}
.readBtn{
    background-color: #6B65D3;
    color: #FFFF;
    padding: 10px 18px;
    text-align: center;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

.btncolor8{
    background-color: #FF7777;
    color:  #FFFF;
    font-size: 16px;
}
.btncolor9{
    flex: 2;
    border: none;
    background-color: #ffff;
    font-size: 32px;
    font-weight: 00;
    color: #F26A82;
}
.btncolor10{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: #A19EEE solid;
    cursor: pointer;
    font-size: 15px;
}

.btncolor11{
    border: none;
    background-color: #ffff;
    color: #FB0101;
    font-size: 17px;
    cursor: pointer;
}
.btncolor12{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: #A8CEF0 solid;
    cursor: pointer;
    font-size: 15px;
    background: url('https://api.iconify.design/mdi/fish.svg?color=%23d7683a') no-repeat center center / contain;
}
.btncolor13{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: #E7B188 solid;
    cursor: pointer;
    font-size: 15px;
    background: url('https://api.iconify.design/emojione/sushi.svg?color=%23d7683a') no-repeat center center / contain;
}
.btncolor14{
    background-color: #ffff;
    color:  #261D56;
    font-size: 17px;
    cursor: pointer;
    border: none;

}


.btnimage{
    background-image: url(https://cdn.pixabay.com/photo/2020/05/16/19/58/man-5179003_960_720.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.checked{
    color: orange;
    font-size: 14px;
}

.btn1{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.btn{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    /* flex: 4; */
}
.btnLabel{

display: flex;
justify-content: center;
}

/***********************************/

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
